.form{
    position: relative;
}

.title{
    position: absolute;
    margin: auto;
    top: 75px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.title_text{
    font-family: 'Rubik', sans-serif;
    font-size: 32px;
}

.inputSection{
    position: absolute;
    margin: auto;
    top: 250px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 50px;
}

.instruction{
    font-family: 'Open Sans', sans-serif;
}

.textArea{
    margin-top: 10px;
}

.button{
    margin-top: 10px;

}
