.model-select{
    position: relative;
}


.section-title{
    position: absolute;
    margin: auto;
    top: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.title-text{
    font-family: 'Rubik', sans-serif;
    font-size: 32px;
}

.products{
    position: absolute;
    top: 250px;
}

.nice-button{
    margin-bottom: 10px;
    margin-left: 20px;
}

.logo-button{
    margin-left: 20px;
    margin-bottom: 10px;
}

.link-text{
    color: white;
}