.background{
    background-image: url("../output_background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}

.title{
    font-family: 'Comfortaa', cursive;
    font-size: 32px;
    position: relative;
    color: rgb(255, 24, 24);
}